{% extends 'generic/object.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">
                Selected login
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Login name</td>
                        <td>{{ login_name }}</td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td>{{ login_comment }}</td>
                    </tr>
                    <tr>
                        <td>Work Group</td>
                        <td>{{ login_work_group }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">
                Password decryption
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                <tr>
                    <td>Master pass</td>
                    <form method="POST"> {% csrf_token %}
                    <td><input type="password" id="master_password" name="master_password" value = "master_password" required></td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td><input style="background-color: green; color: white; border: none; border-radius: 5px;" type="submit" value="Decrypt"></td>
                </tr>
                </form>
                <tr>
                    <td>Password</td>
                    <td>{{ login_encrypted_password }}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}